{% extends 'product.html' %}
{% block title %} COZA | Search: {{searched_word}}
{% endblock %}
{% block content %}
{% load static %}
	<style type="text/css">
		.section_wrapper{
			background-color: #edf1f7;
		}
		@media only screen and (max-width: 900px){
			.section_wrapper{
				background-color: white;
			}
		}
		.min-form{
    		width: 20%;
    		text-align: center;
    	}
    	.max-form{
    		width: 20%;
    		text-align: center;
    		position: relative;
    		top: -22px;
    		left: 75px;
    	}
    	.less-than{
    		position: relative;
    		top: -44px;
    		left: 61px;
    	}
	</style>
	{% if searchitem %}
	<div class="bg0 m-t-23 p-b-140">
		<div class="container">
		
			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
						<a href="{% url 'home' %}" class="stext-109 cl8 hov-cl1 trans-04">
							Home
							<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
						</a>

						<a class="stext-109 cl8 hov-cl1 trans-04" style="text-transform: capitalize;">
							Search results for {{searched_word}}
						</a>
					</div>

				</div>

				<div class="flex-w flex-c-m m-tb-10">
					<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						 Filter
					</div>
				</div>

				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Sort By
							</div>

							<ul>
							
								<li class="p-b-6">
									<a href="" class="filter-link stext-106 trans-04 filter-link-active filter" data-filter="freshness">
										What's New
									</a>
								</li>

								<li class="p-b-6">
									<a href="" class="filter-link stext-106 trans-04 filter" data-filter="low to high">
										Price: Low to High
									</a>
								</li>

								<li class="p-b-6">
									<a href="" class="filter-link stext-106 trans-04 filter" data-filter="high to low">
										Price: High to Low
									</a>
								</li>
							</ul>
						</div>

						<div class="filter-col2 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Price
							</div>
							<form method="get" id="Form">
							<ul>
								<li class="p-b-6">
									{{filter.form}}<span class="less-than"><</span>
									
								</li>
							</ul>
							</form>
						</div>

						

						
					</div>
				</div>
			</div>
			
			<div class="row isotope-grid">
				{% for product in searchitem%}
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{product.category}}">
					
					<!-- Block2 -->
					<div class="block2">
						
						<div class="block2-pic hov-img0">
							<a href="{% url 'product-detail' product.name %}">
							<img src="{{product.imageUrl}}" alt="IMG-PRODUCT"></a>
							<!--<form method="post">
								{% csrf_token %}
								<input type="number" name="id" value="{{product.id}}" style="display: none;">
								<button type="submit" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1 " id="btn">>
									Quick View
								</button>
							</form>-->
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a href="{% url 'product-detail' product.name %}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
									{{product.name}}
								</a>

								<span class="stext-105 cl3">
									${{product.price|floatformat:2}}
								</span>
							</div>

							<div class="block2-txt-child2 flex-r p-t-3 heart-mechanics">
								<a id="heart" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
								
									<img class="icon-heart1 dis-block trans-04" src="{% static 'images/icons/icon-heart-01.png' %}"  alt="ICON">
								 
									<img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'images/icons/icon-heart-02.png' %}" alt="ICON" data-product="{{product.id}}" data-action="add">
								 
								</a>
							</div>
						
						</div>
					</div>
				</div>
				{% endfor %}

			</div>
		
		
		
		</div>
	</div>
	{% else %}
	<section class="section_wrapper" style="width:100%; height: 23%; padding-top: 35px; margin-left: auto; text-align: center; align-items: center; justify-content: center; vertical-align: baseline; display: block;">
			<h2 style="color: #000000; font-family: futura-pt,FuturaStd,Helvetica,Arial,sans-serif; font-size: 22px; line-height: 24px; font-weight: 700; margin: 0 auto 16px; letter-spacing: 1.2px; vertical-align: baseline;">NOTHING MATCHES YOUR SEARCH</h2>
			<p style="font-family: futura-pt,FuturaStd,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; margin: 0 auto; letter-spacing: 0.6px; color: #000000; vertical-align: baseline;">But don't give up – check the spelling or try less specific search terms.</p>
		</section>
	{% endif %}

{% endblock %}